body{
    text-align: center;
    background-color: rgb(223, 213, 213);
}
  .rolagem{    
    float:right;
    width: 80%;
    height: 100%;
    background-image: linear-gradient(to top, white, rgb(221, 255, 72));
  }
  .menu{  
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 19.7%;  
    background-image: linear-gradient(to top, rgb(221, 255, 72),white);
  }

  .corpo{
    box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.5);
    width: 80%;
    height: 100%;
    float: right;
    background-color: #fff;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
  }

.texto{
  width: 50%;
  margin: 0 auto;
}
.rodape{
  font-size: 11px;
  text-align: right;
  float: right;
  position: relative;
  bottom: 0;
  height: 0%;
  width: 100%;
  background-color: rgb(223, 213, 213);
  color:black;
}
.dropdown-toggle{
 color: black;
}
.img{
margin: 0 auto;
width: 130px;
height: 100px;
margin-top: 10%;
margin-bottom: 10%;
}
